.cartForm {
    background-color: $color-primary;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

    h2 {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 240px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding: 10px;

        label {
            margin-bottom: 10px;
        }

        input {
            border-color: grey;
            border-radius: 10px;
            height: 30px;
            margin-bottom: 10px;
            width: 250px;
        }
    }
     a {
        display: flex;
        justify-content: center;
        
        button {
            height: 40px;
            border-radius: 10px;
            background-color: $color-secondary;
            color: white;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 10px;
        }
     }

}