// PHONE
@media screen and (max-width:640px){

    // HEADER 
    .headerBanniere img {
        width:180px;
    }
    .headerCart {

        a {
            margin-right: 20px!important;
        }
        i {
        display: none;
    }}   
    
    // FOOTER
    .footerNav {
        display: block!important;

        .socialNetwork {
            justify-content: flex-start;
        }
    }
}

